/**
 * Global styles.
 */

body {
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;

    position: relative;
    margin: 0;
    min-width: 350px;
    min-height: 400px;

    background-color: transparent;
    background-image: url('./../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background-position 1.5s ease-out;
}

a, a:hover {
    color: #212529;
}

a, button {
    outline: none !important;
}

/**
 * Special styles.
 */

#layout {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-headers {
    margin-top: -20%;
}
#main-headers h1 {
    font-size: 3rem;
    color: darkslategray;
}
#main-headers h3 {
    color: aliceblue;
}

#mail-to {
    position: absolute;
    left: 50%;
    top: 60%;
    display: none;
}
#mail-to i {
    margin-left: -100%;
    color: aliceblue;
    font-size: 2.5rem;
    opacity: 0.4;
}
#mail-to i:hover {
    opacity: 0.9;
    cursor: pointer;
}

.o-50 {
    background-color: aliceblue;
    opacity: 0.8;
}

.copy {
    color: #212529;
    font-family: sans-serif;
}

footer, footer a {
    font-size: 1.2rem;
}
footer a {
    font-size: 1.1rem;
}

#modal .modal-content * {
    font-family: sans-serif;
    font-size: 93% !important;
}
#modal .modal-content small {
    font-size: 85% !important;
}
#modal .modal-content button {
    font-size: 80% !important;
}

#modal .modal-content #submit-button {
    cursor: not-allowed;
}
